---
import Footer from "../components/layout/footer.astro";
import Layout from "../components/layout/layout.astro";
import Prose from "../components/prose.astro";
import Social from "../components/social/display-socail.astro";
import Map from "../components/social/map.astro";
import {getImageUrl} from "../lib/utils.ts";
import { Image } from "astro:assets";
import { getPage } from "../lib/wix";

const params = Astro.params;
const page = await getPage(params.page!);

if (!page) {
  return new Response(null, { status: 404 });
}
---

<Layout>
  <div class="w-full">
    <div class="mx-8 max-w-2xl py-20 sm:mx-auto">
      <h1 class="mb-8 text-5xl font-bold text-bay-accent dark:text-bay-accent-dark">{page.title}</h1>
      <Prose class="mb-8" html={page.body} />
      {page.reseauxSociaux && <Social />}
      {page.title2 && <Prose class="mb-8" html={page.title2} />}
      {page.image && (<div class="size-full">
                        <Image
                             class="size-full object-cover group-hover:scale-105"
                             inferSize={true}
                             src={getImageUrl(page.image)}
                             alt="La deventure de notre boutique à Crouy"
                         /></div>)}
      {page.body2 && <Prose html={page.body2} /> }
      {page.map && <Map />}
      {page.time && <Prose class="mb-8" html={page.time} />}
  </div>
  <Footer />
</Layout>
