---
import Grid from "../components/grid/index.astro";
import Layout from "../components/layout/layout.astro";
import Pagination from "../components/pagination.astro";
import ProductGridItems from "../components/layout/product-grid-items.astro";
import { defaultSort, sorting } from "../lib/constants";
import { getProducts } from "../lib/wix";
import SearchLayout from "../components/layout/search/layout.astro";

const searchParams = Object.fromEntries(Astro.url.searchParams.entries());
const { sort, q: searchValue, page: pageParam } = searchParams;
const { sortKey, reverse } =
  sorting.find((item) => item.slug === sort) || defaultSort;

const page = parseInt(pageParam) || 1;
const limit = 30;
const offset = (page - 1) * limit;

const { products, hasNext, totalCount } = await getProducts({
  sortKey,
  reverse,
  query: searchValue ?? "",
  limit,
  offset,
});
const resultsText = products.length > 1 ? "results" : "result";
const totalPages = totalCount ? Math.ceil(totalCount / limit) : undefined;

const buildUrl = (newPage: number) => {
  const params = new URLSearchParams(searchParams);
  params.set("page", newPage.toString());
  return `?${params.toString()}`;
};
---

<Layout>
  <SearchLayout>
    {
      searchValue ? (
        <p class="mb-4">
          {products.length === 0
            ? "There are no products that match "
            : `Showing ${products.length} ${resultsText} for `}
          <span class="font-bold">&quot;{searchValue}&quot;</span>
        </p>
      ) : null
    }
    {
      products.length > 0 ? (
        <Grid class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <ProductGridItems products={products} />
        </Grid>
      ) : null
    }
    <Pagination
      currentPage={page}
      hasNext={hasNext}
      buildUrl={buildUrl}
      totalPages={totalPages}
    />
  </SearchLayout>
</Layout>
