---
import {getHomeImages} from "../lib/wix/index";
import {wixImageToHttpUrl} from "../lib/utils.ts";
import { Image } from "astro:assets";

const images = await getHomeImages()
images.sort(() => Math.random() - 0.5);

if(!images?.length) {
  console.log('error images')
  return null
  }
---

{images && (<div class="p-8">
    <h2 class="mb-2 ml-4 text-4xl font-bold text-bay-accent dark:text-white">Galerie Photo</h2>
    <div class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
      {
        images.map((image) => (
            <Image
              src={wixImageToHttpUrl(image.url)}
              alt={image.altText}
              inferSize={true}
              class:list={["mb-4 rounded-lg transition-all", "group-hover:shadow-lg group-hover:opacity-90"]}
            />
        ))
      }
    </div>
</div>)}